node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.vercel
.vscode
solana-release
bux-claim-minimal
bux_claim
buxdao-nft-sync/*
!buxdao-nft-sync/collections.config.js
logs
public
scripts
src
styles
dist
coverage
**/*.md 